<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <div th:insert="fragments :: menu"></div>
    <form th:method="PATCH" th:action="@{/accounts/{username}(username=${account.getUsername()})}" th:object="${account}">

        <div class="row">
            <label class="col-2" for="username">Username: </label>
            <input class="col-2" type="text" th:field="*{username}" id="username" readonly>
            <p class="col-2" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
        <div class="row">
            <label class="col-2" for="password">Password: </label>
            <input class="col-2" type="text" required th:field="*{password}" id="password">
            <p class="col-2" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div class="row">
            <label class="col-2" for="balance">Balance: </label>
            <input class="col-2" min="0" type="number" th:field="*{balance}" id="balance">
            <p class="col-2" th:if="${#fields.hasErrors('balance')}" th:errors="*{'balance'}"></p>
        </div>
        <div class="row">
            <label class="col-2" for="role">Role: </label>
            <input class="col-2" type="text" th:field="*{role}" id="role">
            <p class="col-2" th:if="${#fields.hasErrors('role')}" th:errors="*{'role'}"></p>
        </div>
        <div class="row">
            <input class="col-2" type="submit" value="Update">
        </div>
    </form>
</body>
</html>