<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <div class="row main-content">
        <div class="text-center me-form">

            <h1>Register</h1>

            <form th:method="POST" th:action="@{/accounts}" th:object="${account}">
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username" required>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</p>
                <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                <input type="password" name="password-confirm" class="form-control" placeholder="Confirm password" required>
                <input type="submit" class="btn btn-primary btn-lg btn-block mt-3" value="Create">
            </form>

            <p class="mt-3"> <span>Already have an account? </span><a href="./login.html">Log in</a></p>
        </div>
    </div>
</body>
</html>