<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<header th:insert="fragments :: header"></header>
<form th:method="POST" th:action="@{/accounts/{username}/update-password(username=${username})}" >

    <div class="row">
        <label class="col-2" for="username">Username: </label>
        <input class="col-2" type="text" th:field="${username}" id="username" readonly>
        <p class="col-2" th:if="${#fields.hasErrors('username')}" th:errors="${username}"></p>
    </div>

    <div class="row">
        <label class="col-2" for="curpass">Current Password: </label>
        <input class="col-2" type="password" name="curpass"  id="curpass" required>
        <!--<p class="col-2" th:if="${#fields.hasErrors('curpass')}" th:errors="${'curpass'}"></p>-->
    </div>

    <div class="row">
        <label class="col-2" for="pass1">New Password: </label>
        <input class="col-2" type="password" name="pass1" id="pass1" required>
        <!--<p class="col-2" th:if="${#fields.hasErrors('pass1')}" th:errors="${'pass1'}"></p>-->
    </div>

    <div class="row">
        <label class="col-2" for="pass2">Confirm Password: </label>
        <input class="col-2" type="password" name="pass2" id="pass2" required>
        <p class="col-2" th:if="${#fields.hasErrors('pass2')}" th:errors="${'pass2'}"></p>
    </div>

    <div class="row">
        <input class="col-2" type="submit" value="Update">
    </div>
</form>
</body>
</html>