<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <div th:insert="fragments :: menu"></div>
    <h1>Product List</h1>
    <ul>
        <li th:each="product : ${products}">
            <a th:href="@{/products/{id}(id=${product.getId()})}" th:text="${product.getName()}"></a>
        </li>
    </ul>
    <a href="/products/new">New Product</a>
</body>
</html>