<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <div th:insert="fragments :: menu"></div>
    <form th:method="PATCH" th:action="@{/products/{id}(id=${product.getId()})}" th:object="${product}">
        <div class="row">
            <label for="name" class="col-2">Name: </label>
            <input class="col-2" type="text" required th:field="*{name}" id="name">
            <p class="col-2" th:if="${#fields.hasErrors('name')}" th:errors="*{'name'}"></p>
        </div>
        <div class="row">
            <label for="price" class="col-2">Price: </label>
            <input type="number" class="col-2" min="0" th:field="*{price}" id="price">
            <p class="col-2" th:if="${#fields.hasErrors('price')}" th:errors="*{'price'}"></p>
        </div>
        <div class="row">
            <label for="quantity" class="col-2">Amount: </label>
            <input type="number" class="col-2" min="0" th:field="*{quantity}" id="quantity">
            <p class="col-2" th:if="${#fields.hasErrors('quantity')}" th:errors="*{'quantity'}"></p>
        </div>
        <div class="row">
            <input type="submit" class="col-2" value="Update">
        </div>
    </form>
</body>
</html>