<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header" class="row">
        <div class="col-2 myb">
            <a href="/"><h3>EcorpBank</h3></a>
        </div>
        <div class="col-6 myb">Welcome to exchange rates service</div>
        <div class="col-4 row" sec:authorize="isAuthenticated()">
            <div class="col-5 myb">
                <h3 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h3>
            </div>
            <div class="col-3 myb">TODO:0.00$</div>
            <div class="col-2 myb">
                <a th:href="@{/accounts/{username}(username=${#httpServletRequest.remoteUser})}">
                    <button class="btn btn-primary btn-sm">Profile</button>
                </a>
            </div>
            <div class="col-2 myb">
                <a href="/logout">
                    <button class="btn btn-primary btn-sm">Logout</button>
                </a>
            </div>
        </div>
        <div class="col-4 row" sec:authorize="isAnonymous()">

            <div class="col-4 myb">
                <p>Guest</p>
            </div>
            <div class="col-2 myb">0.00$</div>
            <div class="col-3 myb">
                <a href="/login">
                    <button class="btn btn-primary btn-sm">Log In</button>
                </a>
            </div>
            <div class="col-3 myb">
                <a href="/accounts/new">
                    <button class="btn btn-primary btn-sm">Sign Up</button>
                </a>
            </div>
        </div>
    </div>
    <div th:fragment="menu" class="row header-menu">
        <div class="col-2">
            <a href="/accounts">Accounts</a>
        </div>
        <div class="col-2">
            <a href="/products">Products</a>
        </div>
    </div>
</body>
</html>